<input
  type="text"
  [(ngModel)]="searchQuery"
  value="searchQuery"
  (input)="onSearch()"
  placeholder="Search for products"
  [style.padding.rem]="0.5"
/>
<ul grid-aria="product" class="card-container">
  <li class="card" *ngFor="let item of productsComponent">
    <a routerLink="/products/{{ item.id }}" class="clickanchor">
      <div class="card-content">
        <p>{{ item.title }}</p>
        <p>${{ item.price }}</p>
      </div>
      <div class="card-image">
        <img src="{{ item.image }}" alt="{{ item.id }}" />
      </div>
    </a>
  </li>
</ul>
