.card-container {
  grid-area: product;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(300px, auto);
  gap: 1rem;
  padding: 0rem1rem;
  list-style-type: none;
  min-height: 600px;
  height: auto;
  overflow-y: scroll;
}
.card {
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all ease 0.5s;
}
.clickanchor{
  text-decoration: none;
  color: inherit;
}
.card-content {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all ease-in-out 0.65s;
  color: black;
}
.card-content :nth-of-type(1) {
  font-size: 14px;
}
.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.card:hover .card-content p{
  color: black;
}
.card:hover img {
  transform: scale(1.06) translateY(-1rem);
}

.card-image {
  height: 40%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: grid;
  place-content: center;
}
.card-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all ease-in 0.5s;
}

@media screen and (max-width: 992px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }

}
