<div class="about-container">
  <section class="about-content">
    <p>
      We have successfully developed an innovative
      <strong>e-commerce website</strong> using Angular and TypeScript,
      harnessing the power of modern web technologies to deliver a seamless
      shopping experience. Leveraging the Angular framework allowed us to build
      a robust and responsive front-end that ensures smooth navigation and
      interactions for users. One of the standout features of our project is the
      use of a grid system in the design, providing a visually appealing layout
      that showcases products beautifully while maintaining a user-friendly
      interface.
    </p>
    <p>
      Our e-commerce platform offers an array of features to enhance the
      shopping experience. Users can easily filter and search for products,
      simplifying the process of finding the items they desire. Additionally,
      we've integrated a sophisticated price list functionality that empowers
      users to filter products based on their budget constraints. This feature
      allows customers to tailor their shopping experience to their specific
      needs, ensuring they find the best deals within their price range. Our
      <b>Angular</b> and <b>TypeScript</b>-based e-commerce website sets a new
      standard in online shopping, providing both functionality and aesthetics
      for an exceptional user experience.
    </p>
    <p>
      Incorporating <strong>Figma</strong>, <strong>Miro</strong>,
      <strong>GitHub project boards</strong>, <strong>TypeScript</strong> and
      <strong>Angular</strong> into our project has proven to be a winning
      combination, facilitating a streamlined development process that results
      in a top-notch product.
    </p>
    <div class="images-container">
      <img src="../../../assets/icons/icons8-miro.svg" alt="miro" />
      <img src="../../../assets/icons/icons8-figma.svg" alt="figma" />
      <img src="../../../assets/icons/icons8-github.svg" alt="githubproject" />
      <img src="../../../assets/icons/icons8-typescript.svg" alt="typescript" />
      <img src="../../../assets/icons/icons8-angular.svg" alt="angular" />
    </div>
  </section>
</div>
