.footer {
  grid-area: footer;
  display: grid;
  place-content: center;
  grid-template-columns: 2fr 1fr;
  border-top: 1px solid #cccccc90;
}
ul {
  list-style: none;
}
ul:nth-of-type(1) {
  display: grid;
  justify-self: baseline;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
ul:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: flex-end;
  gap: 1rem;
}

ul li a {
  color: inherit;
  text-decoration: none;
}
ul li img {
  width: 25px;
  height: 25px;
}
