<!-- <app-header></app-header> -->
<!-- <app-sidebar></app-sidebar> -->
<!-- <app-products></app-products>
<app-footer></app-footer> -->

<div class="homepage-container">
  <div class="header">header</div>
  <div class="sidebar">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, adipisci. Ea
    aliquam temporibus corrupti, ab voluptatem dolorum rem iusto iste assumenda
    eius, sint possimus aliquid nam nihil obcaecati inventore laboriosam amet
    aspernatur optio neque, quisquam numquam laudantium doloremque laborum. Sunt
    ut voluptates amet quisquam porro, assumenda dolores molestias consectetur
    nesciunt asperiores adipisci eaque! Harum perferendis error eum aliquam
    atque accusamus fuga deleniti veritatis eius, omnis laborum culpa quo rerum
    natus at quisquam, consectetur, illum hic! Aliquam dolor impedit vel ex eos.
    Aut nihil corrupti ipsum itaque alias odit, assumenda magni. Enim dolorum
    sapiente vel iusto adipisci officiis, minus quia ut. Lorem ipsum dolor sit
    amet, consectetur adipisicing elit. Molestiae dolorem quo odio recusandae
    ipsa nihil deleniti iusto architecto provident. Dolor tempore asperiores
    error officia ipsum optio libero amet veritatis praesentium!
  </div>

  <div class="product">
    <div class="item item1">item 1</div>
    <div class="item item2">item 2</div>
    <div class="item item3">item 3</div>
    <div class="item item4">item 4</div>
    <div class="item item5">item 5</div>
    <div class="item item6">item 6</div>
    <div class="item item7">item 7</div>
    <div class="item item8">item 8</div>
    <div class="item item9">item 9</div>
    <div class="item item10">item 10</div>
    <div class="item item11">item 11</div>
    <div class="item item12">item 12</div>
    <div class="item item13">item 13</div>
    <div class="item item14">item 14</div>
    <div class="item item15">item 15</div>
    <div class="item item16">item 16</div>
    <div class="item item17">item 17</div>
    <div class="item item18">item 18</div>
    <div class="item item18">item 18</div>
    <div class="item item18">item 18</div>
    <div class="item item18">item 18</div>
    <div class="item item18">item 18</div>
    <div class="item item18">item 18</div>
    <div class="item item18">item 18</div>
    <div class="item item18">item 18</div>
  </div>

  <div class="footer">footer</div>
</div>
