<div class="product-page-container">
  <div>
    <app-header></app-header>
  </div>
  <div class="product-container" *ngFor="let item of product">
    <div class="product-content">
      <p>id: {{ item.id }}</p>
      <p>title: {{ item.title }}</p>
      <p>price: ${{ item.price }}</p>
      <p>category: {{ item.category }}</p>
      <p>description: {{ item.description }}</p>
    </div>
    <div class="card-image">
      <img src="{{ item.image }}" alt="{{ item.id }}" />
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
