.sidebar {
  /* border: 1px solid black; */
  grid-area: sidebar;
  position: sticky;
  top: 80px;
  z-index: 99999;
  display: inline-block;
}
.categories,
.designer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.categories div,
.designer div {
  display: flex;
  gap: 0.5rem;
}

.range-slider {
  position: relative;
  margin-top: 3rem;
}
.min-price,
.max-price {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
  z-index: 1;
}
.sidebar-content {
  transition: all 0.5s ease;
  transform: translateY(5%);
}
/*  */

.btn-close {
  display: none;
  width: 2rem;
  height: 2rem;
  font-size: 10px;
  background-color: black;
  color: white;
  border: none;
  z-index: 9999;
}

.closed {
  transform: translateY(-150%);
  overflow: hidden;
  height: 0;
}
/*  */
@media screen and (max-width: 992px) {
  .sidebar-content {
    max-height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    top: 40px;
    z-index: 1;
    padding: 2rem 0rem;
    background: #fff;
    width: 100%;
  }
  .btn-close {
    display: block;
    top: 50px;
    right: 5px;
    position: fixed;
  }
}
