<div class="sidebar">
  <div class="sidebar-content" [class.closed]="isClosed">
    <div class="categories">
      <div>Categories</div>
      <mat-radio-group *ngIf="categoryList && categoryList.length > 0">
        <mat-radio-button value="all" id="all" (click)="onClickCategory('all')">All</mat-radio-button>
        <br />
        <mat-radio-button *ngFor="let category of categoryList" value="{{category}}" id="{{ category }}"
          (click)="onClickCategory(category)">{{ category }}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="range-slider">
      <mat-slider [min]="productsService.MinPrice" [max]="productsService.MaxPrice"
      step="0.01" discrete
        (change)="onPriceChange($event)">
        <input matSliderStartThumb [(ngModel)]="minPrice">
        <input matSliderEndThumb [(ngModel)]="maxPrice">
      </mat-slider>

    </div>
  </div>
  <button (click)="closeSidebar()" class="btn-close">
    {{ isClosed ? "Menu" : "Close" }}
  </button>
</div>